@import "@jetbrains/ring-ui/components/global/variables.css";

body, .app-root {
  margin: 0;
  padding: 0;

  background: var(--ring-content-background-color);

  font-family: var(--ring-font-family);
  font-size: var(--ring-font-size);
  line-height: var(--ring-line-height);
}

.wrapper-element {
  height: 100vh;
}

.height-100 {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body-content {
  flex: 1;
}


.presentation-area {
  margin: calc(var(--ring-unit) * 4);
}

.col1, .col2, .col3 {
  height: 2000px;
}

.ring-island {
  height: 100%;
}

.sidebar {
  padding-top: 20px;
  padding-left: 15px !important;
  margin-top: 20px;
  box-shadow: 1px 0 #000000;
}

.footer {
  width: calc(100vw - 64px);
  background-color: white;
  padding: 16px 0 0 0 !important;
}

#header-title {
  margin-right: 40px;
  font-size: 2em;
}

h1 {
  color: black;
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 20px;
}

.module-explanation {
  margin-bottom: 30px;
}

.sidebar-list {
  list-style-type: none;
  padding-left: 0;
}

.sidebar-item, .sidebar-button {
  width: 100%;
  display: block;
}
